@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

html {
  font-family: 'Lobster Two';
}

body {
  margin: 0;
}

/* Set up navigation bar */
nav {
  background-color: linen;
padding: 1em;
}

nav a {
  color:maroon;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: lightblue;
  font-style: italic;
}

header, main {
  background-color: floralwhite;
  padding: 1em;
}

h1, h2, p, ul {
  margin: 0;
}

/** Make sections look nice **/
main section {
  background-color:linen;
border-style: solid;
  border-radius: 10px;
  border-width: 1px
    border-color: black;
  padding: 1em;
  margin: 1em
}

/* for image slider */
.arrow{ /* Class starts with . */
border: solid black;
border-width: 0 10px 10px 0;
display: inline-block;
padding: 20px;
}

.left {
  transform: rotate(135deg);
}

.right{
  transform:rotate(-45deg);
}

#image-slider {
  align-items: center;
  display: flex; 
}

/* Change facts to bubbles */
#facts {
display: flex;
list-style-type: none;
padding: 0;
gap: 0.5em;
}

#facts li{
background-color:lightpink;
border: 1px solid black;
border-radius: 15px;
padding: 0.25em
}

#facts li:nth-child(2n) {
  background-color: lightblue;  
}